.title {
  height: 110px;
  margin-top: 67px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.sessionsFilm {
  margin-left: 24px;
}

.daySession p {
  color: #293845;
  font-size: 20px;
}

.schedules {
  margin-top: 22px;

  display: flex;
  flex-wrap: wrap;
}

.schedules button {
  margin-right: 8px;
  margin-bottom: 6px;
  height: 43px;
  width: 82px;

  color: #ffffff;
  font-size: 18px;

  background: #e8833a;
  border: none;
  border-radius: 3px;
}

.session {
  margin-bottom: 26px;
}
